$header-height: 50px;
$toolbar-height: 40px;
$formula-height: 30px;

$dashboard-header-height: 60px;
$dashboard-new-height: 200px;

$row-height: 24px;

$cell-width: 120px;

$border-color: #c0c0c0;
$background: #F4F5FA;
$color-active: #1a73e8;
$table-bg-color: #f8f9fa;

$info-cell-width: 40px;