@import "variables";
@import "mixins";

.excel__formula {
    position: absolute;
    top: $header-height + $toolbar-height;
    right: 0;
    left: 0;
    padding: 1px 0px;
    height: $formula-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid $border-color;

    .info {
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        color: rgb(126, 126, 126);
        min-width: $info-cell-width;
        border-right: 1px solid $border-color;
        text-align: center;
    }

    .input {
        width: 100%;
        padding: 7px 4px 0px 4px;
        font-size: 12px;
        outline: none;
        height: 100%;
    }
}