@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "fromular";
@import "table";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: $background;
}

.excel {
  position: relative;
  height: 100%;
  max-width: 100%;
}