@import "variables";
@import "mixins";

.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $formula-height + $toolbar-height + $header-height;
    padding-bottom: 2px;
    overflow-x: auto;

    .row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    .row-info {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background-color: $table-bg-color;
        border-top: none;
        position: relative;

        .row-resize {
            background-color: rgb(0, 131, 218);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            opacity: 0;

            &:hover {
                opacity: 1;
                cursor: row-resize;
                
            }
        }
    }

    .row-data {
        display: flex;
        flex-direction: row;
    }

    .column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $cell-width;
        background-color: $table-bg-color;
        height: 100%;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        position: relative;

        .col-resize {
            position: absolute;
            background-color: rgb(0, 131, 218);
            bottom: 0;
            top: 0;
            right: 0;
            width: 4px;
            opacity: 0;

            &:hover {
                opacity: 1;
                cursor: col-resize;
                
            }
        }
    }

    .cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        border-right: 1px solid #e2e3e3;
        border-bottom: 1px solid #e2e3e3;
        color: #111;
        white-space: nowrap;
        outline: none;

        &.selected {
            border: none;
            outline: 2px solid $color-active;
            z-index: 2;
        }
    }
}